[2015-10-03 11:12] 2quignot opened #3 "Still waiting for device nothing appears"
Testing with an iPad Air  (WiFi) iOS 8.4.1 on Mac OS 10.9 -> XCODE 5.1.1

[2015-10-03 12:31] JJGadgets commented on #3
Do you have the developer disk image for 8.4?

[2015-10-03 13:26] JJGadgets commented on #3
I think it is not supported in Mavericks, I tried to change DDI location to my Desktop, but that did not work.

[2015-10-03 16:16] 2quignot commented on #3
Hello,  don't have the disk image 8.4 i download now and retry to Jailbreak this is the problem ? Or there is an another problem ? Thank you :)

[2015-10-03 16:59] 2quignot opened #4 "Couldn't mount DDI. Not an issue if Xcode's running, an issue if it isn't it."
I have this error message then try to mount DDI "Couldn't mount DDI. Not an issue if Xcode's running, an issue if it isn't it."

[2015-10-04 10:46] matteyeux commented on #4
La nouvelle version fixe le probleme

[2015-10-04 10:58] matteyeux opened #5 "make.sh : cannot compile main.m"
sh-3.2$ ./make.sh
2015-10-04 12:51:03.409 main[1633:66359] cs_size = 4e0
Assertion failed: (lsrs_r0_2_popr4r5r7pc), function main, file main.m, line 538.
./make.sh: line 6:  1633 Abort trap: 6           ./main
sh-3.2$

[2015-10-04 14:37] sim3an opened #6 "12 errors generated."
luca , you sir are one of the best 18 yo programmers in the universe i hope you nothing but the best
any ways i was using your code on my 4s and i got those errors
//////////
Mounting DDI...
[+] Device connected: iPhone4,1, iOS 8.4.1.
[*] Receiving /System/Library/Caches/com.apple.dyld/dyld_shared_cache_armv7...
[*] Received 408.49 MB of 408.49 MB (100%).
/Users/dongol/Desktop/yalu-master/stage0.s

[2015-10-04 14:41] MJ-sayeh commented on #6
testing with iphone 4s macbook pro osx 10.10 xcode 7.0.1

[2015-10-04 15:09] #5 closed

[2015-10-04 18:37] 2quignot commented on #3
I have the same problem device waiting nothing appears

[2015-10-04 19:08] kpwn commented on #6
are you using a recent commit?

[2015-10-04 19:26] kpwn commented on #5
known issue for non armv7s dylds. will be fixing asap, just got back home

[2015-10-05 10:41] devxu opened #7 "There is a error!"
Found device with UUID 9ase35982x296cf583374ef769zoraf25d71f0j5
Backup opened
Found device with UUID 9ase35982x296cf583374ef769zoraf25d71f0j5
Backup opened
File not found, creating new file
Restoring backup...
Error. Exiting...
Waiting for device...
Press [Enter] key when your device finishes restoring...

[2015-10-05 11:55] mstg commented on #7
Disable find my iphone

[2015-10-05 19:55] MJ-sayeh commented on #6
well ,, WOW I cant believe that you just answered me !!!! ,,, tbh I don't really know what a commit or what do you mean by it so ,,, if you are talking about the os x build its on the latest update ,, if its Xcode its also updated if you mean some sort of memory management and ram suff ,,  i dont really know how to answer that

[2015-10-05 22:50] spotlightishere commented on #6
No, he means you should delete your current folder and re download. The version you downloaded may be too old.

[2015-10-05 23:59] MJ-sayeh commented on #6
ooh thanks ill try that :D

[2015-10-06 07:50] matteyeux commented on #5
Does the new updates fix the non armv7s issue ?

[2015-10-06 10:25] sim3an commented on #6
OMG ITs fixed ,,, thank you luca :D :D :D

[2015-10-06 10:42] MJ-sayeh commented on #6
i did that and what happend was
at first the iphone didnt reboot during the process and it didnt give me any errors
after trying to press the jailbreak (WWDC) app a black screen is shown and then its closed by it self ,, and nothing happed so i guess its still not working with me i hope you solve this minor problems smoothly  and thanks for doing this when no one else did

[2015-10-06 10:50] MJ-sayeh commented on #6
ook so i tried this one more time after noticing that when my device restart it requirs my i cloud password
so what i did was to press my password after unlocking the device and turning wifi off ,, the error didnt happen ,, but something else happend
*********************************_the LOG ***_**********************
ounting DDI...
[+] Device connected: iPhone4,1, iOS 8.4.1.
[_] Receiving /System

[2015-10-06 14:41] ghost commented on #4
Close Xcode if it's running if it's not then post the log below

[2015-10-06 15:20] devxu commented on #7
Thanks. It's resolved.

[2015-10-06 15:20] #7 closed

[2015-10-06 15:29] kpwn commented on #5
Not yet. currently trying to get my 6 jailbroken first.

[2015-10-06 16:07] mstg commented on #4
@Adryd That's wrong. If Xcode is running then it should not be a problem, but if Xcode is not running then there is. So if Xcode is running, then dont worry.

[2015-10-06 19:01] 2quignot commented on #4
Now work the problem is not xcode but libimobiledevice it's now fixed by me manually thank you for your help :)

[2015-10-06 19:01] #4 closed

[2015-10-06 19:03] 2quignot commented on #3
Problem fixed it's a general problem with /bin of yalu but fixed by me :)

[2015-10-06 19:03] #3 closed

[2015-10-07 05:42] ABCS7 commented on #3
Can I ask what you did to fix it? I'm having the same problem getting stuck on the waiting for device.

[2015-10-08 09:44] angelovAlex opened #8 "Donations?"
That's great that you make it open source. Do you accept donations, where I can do that?

[2015-10-08 10:50] hako commented on #8
@kpwn does not accept donations. [See here](https://twitter.com/qwertyoruiop/status/649451905198985216).

[2015-10-08 23:09] fattboy22 opened #10 "errors after restore"
===============================================] 100% Finished Moving 1 ﬁle [==================================================] 100% Finished Moving 1 ﬁle [==================================================] 100% Finished [==================================================] 100% Finished Removing 1 ﬁle [==================================================] 100% Finished Removing 1 ﬁle [============

[2015-10-10 11:27] 2quignot commented on #10
You must update your xcode to the lasted xcode version

[2015-10-10 12:33] fattboy22 commented on #10
Ok il try it today

[2015-10-10 19:55] fattboy22 commented on #10
I just checked I have Xcode 7.0.1 name stilll getting this error

[2015-10-11 05:21] MTWomg opened #11 "AYOOOOOOO"
how the fuck do you get openssh to start

want that root shell

want that chain

[2015-10-11 07:23] 2quignot opened #12 "How to get OpenSSH after tap on the icon"
How to get ssh after tap on the "Jailbreak" icon thank you !

[2015-10-11 15:09] #8 closed

[2015-10-11 15:10] kpwn commented on #6
Known issue for armv7 only devices.

A workaround is being tested.

[2015-10-11 15:10] #6 closed

[2015-10-11 15:45] #10 closed

[2015-10-11 15:52] fattboy22 opened #13 "After tap jailbreak"
After I hit the jailbreak it does the kernel dump and the wwdc app is there. When I tap it it opens for 2 secs then closes. How do ik if it jailbroke when I connect to Ifunbox
It says jailed still but my iPad is jailbroke now and it says jailed as well.

[2015-10-11 18:38] Aleg01 opened #14 "Help!"
How can i get OpenSSH by Windows 8?

[2015-10-11 19:06] spotlightishere commented on #14
How do you mean? SSH into the device on Windows 8, or use Windows 8 to install OpenSSH?

[2015-10-11 19:07] Aleg01 commented on #14
use windows 8
to install openssh into iphone

[2015-10-11 19:08] Aleg01 commented on #14
i started run.sh
waiting for device...
and nothing

[2015-10-11 19:20] Aleg01 commented on #14
okay i just understood that this code only for mac os

[2015-10-11 19:20] #14 closed

[2015-10-12 01:41] elta opened #15 "How to get "./data/bootstrap.tgz""
Hi, all:
    I've installed lasted XCODE and passed most of steps. I know XCODE should be installed, Xcode command line is not enough.

Now i got the error message:
Mounting DDI...
Couldn't mount DDI. Not an issue if Xcode's running, an issue if it isn't.
[+] Device connected: iPhone4,1, iOS 8.4.1.
[*] Receiving /System/Library/Caches/com.apple.dyld/dyld_shared_cache_armv7...
[*] Received 408.49 M

[2015-10-12 01:44] mstg commented on #15
Its not meant to be public yet. Just use an openssh tar

[2015-10-12 01:55] elta commented on #15
Hi @mstg, thank for reply.

I'm not got your idea. Is that mean i could use any ssh tar as bootstrap.tgz?

[2015-10-12 01:56] mstg commented on #15
You can package anything and place as bootstrap.tar.
It will be untarred in /, if you don't know any of this you shouldn't mess around with packages.

[2015-10-12 02:08] elta commented on #15
Your are right. This my first time to run jalbreak script, I was thought just do run.sh and jalbreak!

It looks like some error with my device too, like "Assertion failed: (lsrs_r0_2_popr4r5r7pc), function main, file main.m, line 538", it's really make me confused.

[2015-10-12 09:41] elta commented on #15
Now i knew bootstrap.tgz should be created by myself.

[2015-10-12 09:41] #15 closed

[2015-10-12 11:44] bolo1981 opened #16 "bootstrap.tar"
Hello, i use your script for iph 6, bootstrap.tar it s missing or i can t fiind it.
can u guide me pls?

thx.

[2015-10-12 12:02] jbro129 opened #17 "Cannot connect ddi illegal instructions?"
When I try to run mount_ddi.sh it says
Line 4:   1341 illegal instruction: 4. ./bin/deviceimagemounter "$ddi" > /dev/null

What do I do
I have Xcode open and I have the 8.4 developer disk image

Is there a certain place the 8.4 disk image has to be?

And when I run ./stage0.sh nothing happens it's stuck on
Waiting for device...

And when u try to run
/yalu-master/bin/I deviceimagemounter
It says
E

[2015-10-12 12:22] kpwn commented on #17
With xcode open, DDI is mounted automatically. deviceimagemounter is only used for people who don't have xcode open (or, for when I forget to open it).

[2015-10-12 12:22] #17 closed

[2015-10-12 12:23] kpwn commented on #16
I am not offering any bootstrap file so far, since there's a great risk of having to restore to iOS 9 if anything is wrong with it.

[2015-10-12 12:23] #16 closed

[2015-10-12 12:24] jbro129 commented on #17
Then why is it that when I run ./stage0.sh it does nothing?

[2015-10-12 12:30] jbro129 commented on #3
How did you fix it?

[2015-10-12 12:34] jbro129 opened #18 "Nothing happens when I run stage0.sh"
I run stage0.sh and it does
DISABLE FIND MY IPHONE
waiting for device...

I already have find my iPhone disabled
On my iPhone 6 iOS 8.4.1

Does anyone know how to fix this

[2015-10-12 13:01] bolo1981 commented on #16
well....in that case is there an alternative for jb? or shoul i wait u to finish it?
thx Luca.

[2015-10-12 14:26] mstg commented on #13
Its not ready for end-users yet.

[2015-10-12 14:28] mstg commented on #12
Place openssh tar as PhotoData/KimJongCracks/bootstrap.tar, run app, reboot and run app again.

[2015-10-12 14:28] mstg commented on #11
https://github.com/kpwn/yalu/issues/12#issuecomment-147413236

[2015-10-12 19:05] hasahmad commented on #12
Where can I find the openssh tar file?
And do i put it when i first do the "./run.sh" command and then when it finishes the process, then I replace the bootstrap.tar file with the openssh.tar file and then do what you said.

[2015-10-12 19:18] jbro129 commented on #18
Anyone??

[2015-10-12 19:44] pataponpsn opened #19 "!AMDeviceSecureTransferPath"
When I run ./run.sh or ./stage0.sh, WWDC app not installing, terminal writing "!AMDeviceSecureTransferPath". iPhone 5C, 8.4.1.

[2015-10-12 19:51] 2quignot commented on #18
You must to replace all binaries in /bin by original

[2015-10-12 19:53] jbro129 commented on #18
Original? I'm sorry I'm a noob plz explain

[2015-10-12 20:04] mstg commented on #19
Pair your device with the computer

[2015-10-12 20:12] jbro129 commented on #18
I just redownloaded Yalu on my Mac and I retried and I get the same thing
It's still stuck on
Waiting for device...

[2015-10-12 20:35] hasahmad commented on #12
I tried it but i don't think it installed openssh. I couldn't find it in settings and when i tired to ssh from mac terminal. it didn't work.

[2015-10-12 21:27] jbro129 commented on #18
Hello? Plz someone help

[2015-10-13 01:26] jbro129 commented on #18
Plz help :(

[2015-10-13 04:01] Ajinordex commented on #19
You can pair the device with your computer with libimobledevice.

[2015-10-13 04:02] Ajinordex commented on #18
Do you have Xcode installed?

[2015-10-13 04:02] jbro129 commented on #18
Yes

[2015-10-13 04:09] pataponpsn commented on #19
Lol, really? Before that, I used the Yalu and everything was fine, but now I get this error.

[2015-10-13 04:56] jbro129 commented on #18
Plz help anyone I have Xcode installed and I have it open while I did it and my device is unlocked and my device has find my iPhone disabled

[2015-10-13 12:12] spotlightishere commented on #18
Quit Xcode.

Sent from everywhere and nowhere at once.

On Mon, Oct 12, 2015 at 11:56 PM, jbro129 notifications@github.com
wrote:

[2015-10-13 12:14] jbro129 commented on #18
Do you mean don't have it open while running stage0.sh??

[2015-10-13 12:17] spotlightishere commented on #18
Yes! You are not supposed to have iTunes, Xcode, or anything else like that open.

Sent from everywhere and nowhere at once.

On Tue, Oct 13, 2015 at 7:14 AM, jbro129 notifications@github.com wrote:

[2015-10-13 12:19] jbro129 commented on #18
Ok lemme try with them closed

[2015-10-13 12:24] mstg commented on #18
@awesomebing1 Wrong. Xcode automatically mounts the DDI, so having Xcode open just skips one step.

[2015-10-13 12:25] spotlightishere commented on #18
Okay, now I know that. However I'm guessing Xcode is connected to his device and that's why it isn't detecting.

Sent from everywhere and nowhere at once.

On Tue, Oct 13, 2015 at 7:24 AM, Mustafa Gezen notifications@github.com
wrote:

[2015-10-13 12:27] jbro129 commented on #18
One problem I have Xcode open and I says that my device is connected but Yalu still won't work

[2015-10-13 13:09] bolo1981 commented on #18
the script it s working well, jb is still in work so chilllllllll, you don t lose anything now.

[2015-10-13 13:12] mstg commented on #18
@awesomebing1 Device is not actively using services. It uses the services when it has to. So even if the device is connected to Xcode, it doesn't matter. The device should respond the the afc command.

[2015-10-13 14:06] Joelthebest opened #20 "loads of errors"
here are the problems... i have all of those files but for some reason it says there is no such directory

Last login: Tue Oct 13 19:34:46 on ttys000
Joel-Johanan-Daniels-iMac:~ joeldaniel$ /Users/joeldaniel/Downloads/yalu-master\ 6/stage0.sh ; exit;
usage: dirname path
DISABLE FIND MY PHONE
/Users/joeldaniel/Downloads/yalu-master 6/stage0.sh: line 10: ./wait_for_device.sh: No such file or directo

[2015-10-13 14:07] Joelthebest opened #21 "waiting for device"
When i run stage 0.sh it keeps on saying

DISABLE FIND MY IPHONE
Waiting for device....

[2015-10-13 14:09] bolo1981 commented on #21
well, disable the fucking phoneeeeeeeeeeeeeee, no icloud lock, no pass lock, no toch id.
use your brain.

[2015-10-13 14:14] Joelthebest commented on #21
I DID

[2015-10-13 14:14] Joelthebest commented on #21
ACTTUALY I DIDNT

[2015-10-13 14:17] bolo1981 commented on #21
settings-icloud-fiind my phone (OFF)

[2015-10-13 14:18] Joelthebest commented on #21
IT STILL DOESNT WORK

[2015-10-13 14:21] bolo1981 commented on #21
well, for me it working.
This code source is imcomplete, a very important part bootstrap is missing, so u can relax.

[2015-10-13 14:25] Joelthebest commented on #21
ok after trying over and over again, it gives me this now

here are the problems... i have all of those files but for some reason it says there is no such directory

Last login: Tue Oct 13 19:34:46 on ttys000
Joel-Johanan-Daniels-iMac:~ joeldaniel$ /Users/joeldaniel/Downloads/yalu-master\ 6/stage0.sh ; exit;
usage: dirname path
DISABLE FIND MY PHONE
/Users/joeldaniel/Downloads/yalu-master 6/stage0

[2015-10-13 14:33] mstg commented on #20
cd into yalu's directory.

[2015-10-13 14:34] Joelthebest commented on #20
ok bro gonna try that

[2015-10-13 14:39] spotlightishere commented on #21
Open a terminal, cd into that folder, and then run the script. Don't double click it and run it in the finder.

Sent from everywhere and nowhere at once.

On Tue, Oct 13, 2015 at 9:25 AM, Joelthebest notifications@github.com
wrote:

[2015-10-13 14:40] Joelthebest commented on #20
ok now it says disable find my iPhone waiting for device...

[2015-10-13 14:41] spotlightishere commented on #20
Have you disabled Find my iPhone?

Sent from everywhere and nowhere at once.

On Tue, Oct 13, 2015 at 9:40 AM, Joelthebest notifications@github.com
wrote:

[2015-10-13 14:42] Joelthebest commented on #21
when i do that it says disable find my iPhone waiting for device...... i disabled it already!!

[2015-10-13 14:42] Joelthebest commented on #20
yes

[2015-10-13 14:43] spotlightishere commented on #21
I haven't gotten a chance to actually run this yet, however is your iPhone unlocked, and iTunes isn't running?

Sent from everywhere and nowhere at once.

On Tue, Oct 13, 2015 at 9:42 AM, Joelthebest notifications@github.com
wrote:

[2015-10-13 14:47] Joelthebest commented on #21
yup iTunes isn't running and my iPad is unlocked

[2015-10-13 14:57] spotlightishere commented on #21
I have no idea then. I'm going to let someone else who actually ran it answer your question,

Sent from everywhere and nowhere at once.

On Tue, Oct 13, 2015 at 9:47 AM, Joelthebest notifications@github.com
wrote:

[2015-10-13 20:06] jbro129 commented on #18
But it won't respond that's the problem :(

[2015-10-13 20:08] jbro129 commented on #21
Yes someone plz answer who has not had this issue or if you did and you fixed it please explain how you did cuz I'm having the same issue

[2015-10-13 20:18] fattboy22 commented on #21
These were instructions given to me ( make sure Xcode is set to your device and not a preloaded device, make sure you set it to 8.4 ISO so u can see your device at top left. make a new project and hit play at top left to sync your device with Xcode  after that drag and drop stage0.sh and hit enter. Also when u download it just put the unzip file on desktop for easy access that how I did it and it

[2015-10-13 22:04] jbro129 commented on #21
How to you sync my device with xcode7??

[2015-10-13 22:34] fattboy22 commented on #21
U need to have Xcode 7.0.1 that's the newest 1

[2015-10-13 22:52] jbro129 commented on #21
I have that

[2015-10-13 22:53] jbro129 commented on #21
How exactly do you sync it like what buttons do you press saying top left isn't helping cuz I've tried most of the buttons on the top left and none of them did anything close to sync

[2015-10-14 00:53] ThatSomething opened #22 "openSSH"
Where do I find the Openssh.tar download? I can find openssh.tar.gz

[2015-10-14 01:44] jbro129 commented on #21
Hello?

[2015-10-14 05:27] jbro129 commented on #18
?anyone know how to fix it

[2015-10-14 05:28] jbro129 commented on #21
Plz answer I need help

[2015-10-14 12:17] Joelthebest commented on #21
fattboy it didnt work.... BUT IOS 9 JAILBREAK HAS JUST BEEN RELEASED!!!!!!!!!
http://en.pangu.io/

[2015-10-14 17:03] 2quignot commented on #22
The openssh.tar.gz it's ok for iPhone you must rename at bootstarp.tar but before you must resolve archive .gz

[2015-10-14 17:03] 2quignot commented on #22
The openssh.tar.gz it's ok for iPhone you must rename at bootstarp.tar but before you must resolve archive .gz

[2015-10-14 18:52] 2quignot opened #24 "Unable to locate xcodebuild"
When make dyldmagic i have this error during Jailbreak error invite to set path of xcode folder but the patch is correctly enter i don't understand (look picture under)
![image](https://cloud.githubusercontent.com/assets/7420607/10494201/4f10cc74-72b5-11e5-8db8-a4b6db9cd0bb.jpg)

[2015-10-14 19:31] 2quignot commented on #12
Don't work

[2015-10-14 19:33] 2quignot commented on #18
To fix you must comile llibimobiledevice manually and replace all in /bin

[2015-10-14 21:23] qfdk commented on #22
It will be untarred in / 😝

[2015-10-17 20:53] kylerobson opened #28 "."

[2015-10-17 21:57] kylerobson commented on #28
By the way, it failed on the line starting with hdiutil attach -nobrowse -mountpoint tmp_ddi, so I modified it to get past that point.

[2015-10-17 22:30] kylerobson commented on #28
I changed the output to terminal instead of /dev/null. The cause of the bug is that the backup is encrypted.

Restoring modified backup...
Backup directory is "tmp"
This is an encrypted backup.
ERROR: a backup password is required to restore an encrypted backup. Cannot continue.

[2015-10-17 22:32] awesomebing1 commented on #28
Double check to see if your backup is encrypted. If it is, please deencrypt it.  You may want to copy your current backup to another folder so nothing harms it. (Search Google for how to do this.)

[2015-10-17 22:34] kylerobson commented on #28
Thanks I'm working on it... iTunes is being slow.

[2015-10-17 23:21] kylerobson commented on #28
Got further by passing a --password argument to idevicebackup2, but it ultimately fails.

...
Sending 'a78541a8e9a9bd67cc840e542302024ba76c38e0/a3388bc3048d99c38f0f6c485177ebcc64de0514' (256 Bytes)
[==================================================] 100% Finished
ErrorCode 205: Encryption key missing: /var/mobile/Media/PhotoData/KimJongCracks/a/a/MobileReplayer (951535ab91bf294166dcaf63dce9d5c6c8

[2015-10-17 23:23] awesomebing1 commented on #28
Did you decrypt the password in iTunes itself?

Sent from my Mac

On Sat, Oct 17, 2015 at 6:21 PM, Kyle Robson <notifications@github.com>
wrote:

[2015-10-17 23:24] kylerobson commented on #28
No I just passed the --password argument to the idevicebackup2 command. iTunes isn't allowing me to uncheck the "Encrypt iPhone Backup" option. I think I have to delete some profiles or something if that's necessary.

[2015-10-17 23:25] awesomebing1 commented on #28
Is the option grayed out?

Sent from my Mac

On Sat, Oct 17, 2015 at 6:24 PM, Kyle Robson <notifications@github.com>
wrote:

[2015-10-17 23:35] kylerobson commented on #28
Yes. I deleted the profiles from the phone via Settings app -> General -> Profiles. Now I unchecked it successfully. Script now says "backup will be unencrypted" so I removed the --password argument from idevicebackup2.

Got further! Now it's rebooting. So basically lessons learned: uncheck encryption in iTunes and hard coding the path for this line may be a quick fix for the script to work (could

[2015-10-17 23:47] kylerobson commented on #28
Got a bunch of errors after the restore because iTunes was open. I unchecked the box to automatically sync the device in iTunes, closed iTunes, Xcode was already open, unplugged and replugged the device. Tried again and got to the end but with a couple errors. Tapped the Jailbreak app and it closed the app immediately. How do I know if it worked?

Couldn't mount DDI. Not an issue if Xcode's runnin

[2015-10-17 23:50] awesomebing1 commented on #28
By any chance, are you running the script by opening it in the finder?

Sent from my Mac

On Sat, Oct 17, 2015 at 6:47 PM, Kyle Robson <notifications@github.com>
wrote:

[2015-10-17 23:55] kylerobson commented on #28
I git cloned into ~/Projects/yalu, cd ~/Projects/yalu, ./run.sh

Strangely most of the files mentioned above where it says "No such file or directory" do exist. However ./make.sh does not exist.

[2015-10-18 00:23] kylerobson commented on #28
I see the issue.

cd tmp
lipo ...
fix by: cd ..

[2015-10-18 00:26] kylerobson commented on #28
Looks like there are a couple mistakes related to changing directory and then not changing back. It also "cd"s to data/dyldmagic and doesn't go back.

[2015-10-18 00:27] kylerobson commented on #28
Here's the best output I've gotten so far after fixing the script up a little.

Kyles-MacBook-Pro:yalu kyle$ ./run2.sh
Couldn't mount DDI. Not an issue if Xcode's running, an issue if it isn't.
Fetching symbols...
[+] Device connected: iPhone6,1, iOS 8.4.1.
[*] Receiving /System/Library/Caches/com.apple.dyld/dyld_shared_cache_armv7s...
[*] Received 412.46 MB of 412.46 MB (100%).
[+] Done receiving

[2015-10-18 00:33] awesomebing1 commented on #28
Hm. Can’t help you there. Someone else may know how to help you, though.

Sent from my Mac

On Sat, Oct 17, 2015 at 7:27 PM, Kyle Robson <notifications@github.com>
wrote:

[2015-10-18 00:37] kylerobson commented on #28
I changed the make file to use 0x0 instead of 0x and I get the following errors instead:

Couldn't mount DDI. Not an issue if Xcode's running, an issue if it isn't.
Fetching symbols...
[+] Device connected: iPhone6,1, iOS 8.4.1.
[*] Receiving /System/Library/Caches/com.apple.dyld/dyld_shared_cache_armv7s...
[*] Received 412.46 MB of 412.46 MB (100%).
[+] Done receiving /System/Library/Caches/com.a

[2015-10-18 00:43] awesomebing1 commented on #28
It looks like jtool can't find the cache file. Perhaps it's not in the right directory?

[2015-10-18 01:03] kylerobson commented on #28
Yeah I got that. Here's the latest issue. This one is a bit beyond me.

Kyles-MacBook-Pro:yalu kyle$ ./run2.sh
Couldn't mount DDI. Not an issue if Xcode's running, an issue if it isn't.
Fetching symbols...
[+] Device connected: iPhone6,1, iOS 8.4.1.
[*] Receiving /System/Library/Caches/com.apple.dyld/dyld_shared_cache_armv7s...
[*] Received 412.46 MB of 412.46 MB (100%).
[+] Done receiving /System

[2015-10-18 01:47] awesomebing1 commented on #28
Looks like the logic in https://github.com/kpwn/yalu/blob/master/data/dyldmagic/main.m is failing. I don’t know how to fix that either.

Could you please do a pull request for all of the lines you have changed so far to get to this point? It would help a lot of us.

Sent from my Mac

On Sat, Oct 17, 2015 at 8:03 PM, Kyle Robson <notifications@github.com>
wrote:

[2015-10-18 16:16] qfdk commented on #28
i will pull to fix it😜

[2015-10-18 22:54] schnabelnator opened #30 "Error: zcat: can't stat: ./data/bootstrap.tgz"
Hi,
got quite far with the process but now I'm stuck here :(

[code]

Anyone know how to fix this?
Looks to me like it somewhere fails to extract the bootstrap.tgz in the correct directory....
Any help would be appreciated!
Thanks

[2015-10-18 22:58] spotlightishere commented on #30
Yep, that's a known issue. There is a pull request open at #29 that should fix it.

Sent from everywhere and nowhere at once.

On Sun, Oct 18, 2015 at 5:54 PM, schnabelnator notifications@github.com
wrote:

[2015-10-19 01:46] schnabelnator commented on #30
Unfortunately doesn't fix it for me :( exactly the same error...

[2015-10-19 01:48] spotlightishere commented on #30
Which repo did you try? This one, or @qfdk's fork?

[2015-10-19 06:18] qfdk commented on #30
i think the make.sh is filed, so if you  don'thave a magic.dylib,  normal GPUToolsCore is missing...

[2015-10-19 09:33] schnabelnator commented on #30
I'm using @qfdk's fork, but I probably cna't get further because I am only trying on a 32-bit device...
Thought yalu was ready for all devices after this tweet https://twitter.com/qwertyoruiop/status/655825775850078208 but looks like I'm wrong...

[2015-10-19 09:48] bolo1981 commented on #30
yep, Cydia bootstrap is missing, but u can use openssh bootstrap for gain root acces.

[2015-10-19 11:34] schnabelnator commented on #30
Would it then be possible to install cydia via ssh? If so could you guide me in the right direction, I'm fairly new at this... thanks!

[2015-10-20 12:37] kpwn commented on #30
You can install cydia if you install the untether.
For SSH (on your mac):

cd /tmp
sudo su
<enter password>
mkdir bootstrap
cd bootstrap
tar xf <path to cydia bootstrap>
find . | grep patcyh | while read x; do rm $x; touch $x; done
dpkg-deb -e <path to openssh deb>
dpkg-deb -e <path to openssl deb>

nano sbin/reboot
-\- Enter this:
#!/bin/sh
launchctl load /Library/LaunchDaemons/com.openssh.sshd.p

[2015-10-20 18:05] qfdk commented on #30
Question .

[code]

i have got this log 5 days ago.
I have tried upload bootstrap(ssh), i use tar -czvf bootstrap.tgz \* for archiver, but i can't use SSH.
Is it the problem of the bootstrap.tar ? i have downloaded (openssh.deb&openssl.deb)==>bootstrap.tgz. i know it will be placed to "/", but i can't connect it.
i will try it ,so just add "something " in sbin/reboot?

[2015-10-20 18:30] kpwn commented on #30
ret: 28868000
ret: 00000000
ret: 0000000d

This means the kernel exploit failed to execute, and it's supposed to happen randomly. Just try again until you see more than 5-6 "ret"s being printed

[2015-10-20 19:08] qfdk commented on #30
thx,i have tried it several time, but some time i dont have this log. it means the kernel exploit failed, too?

[2015-10-21 02:13] kpwn commented on #30
I've heard about reports on how using fetchsymbols to dump the dyld cache may increase the reliability of the kernel exploit. Try to do that before running the Jailbreak app.

[2015-11-05 16:48] michaeldvinci opened #32 ".../XcodeDefault.xctoolchain/usr/bin/lipo: can't open input file: dyld.fat (No such file or directory)"
Alright so everything seems to be working pretty well up until this point. I have 2 main issues...

--first--

Where do I find a copy of OpenSSH as a .tar - do i get it from their main website, if so the mobile version? Or should I use wget and rename as .tar, then change to bootstrap.tar?  If you could give me a quick rundown of the process, that'd be awesome

--secondly--

After restore and rebo

[2015-11-05 16:52] kpwn commented on #32
You need to download a cydia bootstrap tar, an openssl deb, openssh deb.
Sudo su, create some temp directory, extract all of these in said directory, do `find . | grep patcyh | while read a; do > "$a"; done`, now `rm sbin/reboot`, `nano sbin/reboot`, enter

[code]

create a tar.gz of everything, put it in data/bootstrap.tar.gz

[2015-11-05 16:55] michaeldvinci commented on #32
I'm obviously doing all this on my mac and replacing in data/bootstrap.tar.gz before I run run.sh, correct?

[2015-11-05 16:55] kpwn commented on #32
Yes.

[2015-11-05 16:56] michaeldvinci commented on #32
Awesome, alright thank you so much for the help - will test and get back !

[2015-11-05 16:56] kpwn commented on #32
Also, for the lsrs_r0_2_popr4r5r7pc issue: yalu only supports arm64 devices at the moment. Due to odysseusota's 8.4.1 support there's been people working on an armv7 port for it.

[2015-11-05 16:57] kpwn commented on #32
idea is to run the jailbreak app until it doesn't kernel panic, when it doesn't the kernel untether will have worked and the tar will be extracted. sbin/reboot is used to start ssh because you can trigger an execve on it w/ uid=0 with `idevicediagnostics restart` on your mac

[2015-11-05 16:57] michaeldvinci commented on #32
ugh so my iPhone 4S isn't a viable tester? darn

[2015-11-05 17:03] michaeldvinci commented on #32
also, am I allowed to ask where the best location to find the bootstrap tar is?

[2015-11-05 17:06] kpwn commented on #32
I suggest qwupz.me/Cydia-8.4r3-Raw.txz - remember to remove patcyh files. if you don't you'll brick your phone.

[2015-11-05 17:06] spotlightishere commented on #32
That URL gives a 403 forbidden error.

[2015-11-05 17:07] michaeldvinci commented on #32
Lol I don't have permission for that one!

[2015-11-05 17:07] kpwn commented on #32
Sorry. Had a chmod issue w/ scp. Try again.

[2015-11-05 17:08] kpwn commented on #32
Also remember that the cydia bootstrap will install cydia. I don't suggest running it.

[2015-11-05 17:08] michaeldvinci commented on #32
Awesome thank you a ton!

I need to run to work, but I'll definitely jump back to testing this when I get home and get back to you!

[2015-11-05 17:09] kpwn commented on #32
After you have SSH you need to install the untether via ssh. I have some free time now, so I can help you do that myself if you need.

[2015-11-05 17:10] michaeldvinci commented on #32
I'll go as far as I can after work until I feel like I'm out of my league, the help youve given me already is outstanding and extremely appreciated.

[2015-11-06 12:56] qfdk commented on #32
Thanks for your **Cydia-8.4r3-Raw.txz**,
I have packaged a zip **Bootstrap.tgz** with **OpenSSL&OpenSSH** and **sbin/reboot** 2 weeks ago :X
When i tried to run **jailbreak**, my phone will restart, after that i have used `idevicediagnostics restart` to reboot my 5S, but it seems that the SSH doesn't work :X, so i must use the **Cydia** with **My Bootstrap.tgz** or just the app doesn't work ?
i th

[2015-11-06 14:00] michaeldvinci commented on #32
Yeah you should definitely delete patcyh -- use this when compiling\

look up at  <a href="https://github.com/kpwn/yalu/issues/32#issuecomment-154120231">this</a> post

[2015-11-06 15:17] qfdk commented on #32
I have used this command "delete and create a file with the same name or create file null"
`find . | grep patcyh | while read a; do rm $a; touch $a; done`

But for this **./usr/lib/libpatcyh.dylib**? Is it should  be **DELETE** ?

[2015-11-06 16:42] michaeldvinci commented on #32
yeah that command where it says

will remove anything that is like %patcyh%

I don't know specifically about that dylib, sorry man

[2015-11-06 16:43] michaeldvinci commented on #32
hey qfdk, can you link me to the openssh.deb and openssl.deb you are using, I want these tests to be in unison

[2015-11-06 16:58] michaeldvinci commented on #32
alright, so I have the temp folder with everything in it...I'm trying to locate these two files though... any ideas? <a href="http://i.imgur.com/ZyTyPEy.png">SCREENSHOT</a>

[2015-11-06 17:01] qfdk commented on #32
OK, [Download](http://qfdk.me/bootstrap.tgz)

i have packaged it with script **reboot** placed in sbin, but it NOT include **Cydia**, your must put the Cydia in this package, i will work on it tonight
it will response your question :)

[2015-11-06 17:04] kpwn commented on #32
The openssh / openssl debs don't include /bin/sh etc.
The cydia bootstrap does. So extract cydia bootstrap and remove /Applications/Cydia.app just to be on the safe side.

[2015-11-06 17:04] michaeldvinci commented on #32
how come yours doesn't have the openssh or openssl debs included?

[2015-11-06 17:04] kpwn commented on #32
Because he extracted them. His one is correct AFAICT

[2015-11-06 17:05] michaeldvinci commented on #32
awesome, ok I'll play with that then ! Thanks!

EDIT: OK! that makes a ton of sense.

So once the untether is installed without patcyh, can you install a version of cydia for testing or is that still going to cause a crash??

[2015-11-06 17:08] kpwn commented on #32
permissions seem wrong on that tar. not sure if it's going to be an issue but eh

[2015-11-06 17:11] qfdk commented on #32
http://apt.saurik.com/debs/
you can find  `*.deb`

I have modified the file `run.sh` and i fixed the problem of **file not find** and the code can be compile.
I run the app, but it has a **crash**, i tied serval time for this....
![snip20151106_9](https://cloud.githubusercontent.com/assets/2404478/11009665/21bf0b60-84d9-11e5-9d99-36856331a62a.png)

I fetchsymbols with armv7, i can run the app and

[2015-11-06 20:52] qfdk commented on #32
When i use `dyldmagic_amfid` and run the jailbreak app, the app has a  flash back, i have tried 50 fois, it doesn't work. If i use `dyldmagic` i got a blue screen then the phone reboot ...
Have any idea ? or just try to click the app until it works ?

[2015-11-08 23:15] michaeldvinci commented on #32
It seems as though nothing is working anymore... do I need to restore to 8.4.1 again and start fresh? It seems to not be able to find anything now... regardless of download path

[2015-11-09 06:49] qfdk commented on #32
ERROR: stat: ./data/DeveloperDiskImage.dmg

you must verify if the $ddi exists ...

[2015-11-10 08:25] danfeng opened #33 "Mac OS X、XCode version number?"
Mac OS X、XCode version number?

[2015-11-10 08:27] qfdk commented on #33
10.11 pass the last xcode pass

[2015-11-11 00:18] schnabelnator commented on #32
I stil can't get further than @michaeldvinci in the OP.
I am trying it on an iPhone 5 with @qfdk bootstrap but the lipo error is still unresolved unfortunately...

[code]

[2015-11-11 08:11] Andir00t commented on #32
Hello everybody !
 To get rid of the error:
fatal error: /Applications/Xcode.app/Contents ...
Correct lines in the script run.sh (section # Mount ddi)

from
lipo -info dyld.fat | grep arm64 >/dev/null && ./bin/fetchsymbols -f "$(./bin/fetchsymbols -l 2>&1 | (grep arm64 || abort ) | tr ':' '\n'|tr -d ' '|head -1)" tmp/cache64
to
lipo -info ./tmp/dyld.fat | grep arm64 >/dev/null && ./bin/fetchsymbol

[2015-11-11 10:22] qfdk commented on #32
@Andir00t @schnabelnator My `bootstrap.tgz` is only **OpenSSH&OpenSSL** but it does't have a **Cydia**, You must ADD the **Cydia** in the same package. Have you got any log? Look at the log.
For  `bootstrap.tgz`, you must make it yourself. For me i think just the `exp` doesn't work.
For *\* (No such file or directory)*\* I have fixed this problem #34

[2015-11-11 10:35] Andir00t commented on #32
@qfdk please tell me how to view the log?
Do you have a bootstrap, with cydia ?

[2015-11-11 10:42] qfdk commented on #32
@Andir00t
So you can find the **Cydia**, to make the `bootstrap.tgz` please read our conversation. #30
To view the log, you can find via `Linux` or use some tools like `itools`.
The log name is `kjc_jb.log`
Merci d'avancer

[2015-11-11 11:00] Andir00t commented on #32
@qfdk How do I get to kjc jb.log (/ var / mobile / Media / kjc jb.log) if I can not access the device via ssh ?

Maybe I do not understand

[2015-11-11 11:09] qfdk commented on #32
If the jailbreak code execute, il will create this file.
or you can wait for @kpwn to get some official response.

[2015-11-11 12:08] schnabelnator commented on #32
@qfdk I thought one should NOT add cydia to the bootstrap but install it later via ssh. or should i just leave the cydia.app out of the bootstrap but let it copy the other files?

[2015-11-11 14:28] schnabelnator commented on #32
So now I am getting no errors on the mac side (http://pastebin.com/HMNYUPdt) but I can't get my phone to crash! Everytime I try it with the app the screen goes black for a few seconds (statusbar still visible) and then it crashes to the homescreen. One time it crashed the phone (restarted) but it didn't install anything and the log didnt even show the crash... here is the log from the last few tim

[2015-11-11 14:34] kpwn commented on #32
It is not supposed to restart the phone fwiw.
I suggest watching the output of idevicesyslog while running the app.

2015-11-11 15:28 GMT+01:00 schnabelnator notifications@github.com:

[2015-11-11 14:35] Andir00t commented on #32
1. put the folders of Cydia-8.4r3-Raw + openssh + openssl in bootstrap.tgz
2. run.sh (script run without errors)
3. tap jailbreak app (screen goes black for a few seconds)
4. idevicediagnostics restart

As a result, kjc_jb.log:

yalubreak iso841 - Kim Jong Cracks Research
Credits:
qwertyoruiop - sb escape & codesign bypass & initial kernel exploit
panguteam: kernel vulns
windknown: kernel exploit

[2015-11-11 14:43] kpwn commented on #32
found overlapping object
ret: 00000048
It should find two overlapping objects.
ret: 00000048 means it failed finding the second. which means failure.
reboot, retry.
I suggest doing a fetchcaches before re-running the jailbreak icon.

2015-11-11 15:35 GMT+01:00 Andiroot notifications@github.com:

[2015-11-11 15:14] schnabelnator commented on #32
where can i find the idevicesyslog i only see kjc_jb.log or do you mean that? How would I do a fetchcaches? sorry for the noob questions and thank you very much for your support @all !

[2015-11-11 16:17] qfdk commented on #32
Look at #34 i have added `fetchsymbols_armv7.sh` ...

I try to use `idevicesyslog` but i got this...
![snip20151111_7](https://cloud.githubusercontent.com/assets/2404478/11098054/d5bea0ea-88a2-11e5-9e63-8ec250111967.png)
I dont think it works :x

and if it crash
![snip20151111_20](https://cloud.githubusercontent.com/assets/2404478/11099927/8707f5bc-88ae-11e5-8d09-bc894d4cb83e.png)

 problem of sig

[2015-11-11 20:29] schnabelnator commented on #32
ok so if i got it right it should work like this:
run.sh
then tap jailbreak and look for two overlapping objects in kjc_jb.log, if there are not two, --> idevicediagnostics restart, run fetchsymbols and tap jailbreak repeat...
Problem is i have restarted my phone like 20 times and it never finds these two objects...
Am I doing something wrong?

[2015-11-11 21:55] kpwn commented on #32
I'm not sure if I included a printf for the second object being found.
Look for anything that isn't "ret: 00000048".

"ret: ffffff80" and some other hex numbers should work.

2015-11-11 21:29 GMT+01:00 schnabelnator notifications@github.com:

[2015-11-11 22:00] kpwn commented on #32
Hmm.
That "invalid signature" looks like you did not get the DDI mounted.
Mounting the DDI is needed after each reboot.

2015-11-11 17:17 GMT+01:00 Lee notifications@github.com:

[2015-11-11 22:26] qfdk commented on #32
its so strange :X in my script i have put the `mount_ddi` first  ... strange after reboot my Mac, there is no problem.
i got this 2 times

[code]

and 20 times

[code]

It comes randomly .

[2015-11-11 22:32] schnabelnator commented on #32
I really cant get it to crash, always getting "ret: 00000048" or no overlay at all. her is my log from some tries http://pastebin.com/uw4Xe0ge unfortunately i have no idea how to read it.

[2015-11-11 22:42] qfdk commented on #32
try `idevicesyslog | grep something your want to get`
i can get 50 blue screen, 2  `ret: 0000000d`, 20 `ret: 00000048` ....
the probability is so small

[2015-11-11 22:45] schnabelnator commented on #32
but what would i want to get to recognize that it suceeded?
or is looking in the kjc_jb.log enough to be sure it failed?
It just takes so long to always reboot fetch and tap jailbreak... a script would be nice haha but i guess one can not remotly start an app or would it be possible?

[2015-11-11 23:19] kpwn commented on #32
Hmm. Mind sharing panic logs? Could be a kernel exploit gadget located
differently for your device. I can fix the bug if that's it.

2015-11-11 23:45 GMT+01:00 schnabelnator notifications@github.com:

[2015-11-12 05:28] Andir00t commented on #32
@kpwn you tried your jb code with iPhone 5 or 5s ?l

[2015-11-12 06:22] Andir00t commented on #32
When I run the application Jailbreak I see it in device log:
##############
Nov 12 09:14:43 ipon SpringBoard[43] <Warning>: Forcing crash report of <FBApplicationProcess: 0x166ac050; MobileReplayer; pid: 1100> (reason: 1, description: developer.apple.wwdc-Release failed to launch in time)
Nov 12 09:14:43 ipon ReportCrash[1102] <Error>: task_set_exception_ports(B07, 400, D03, 0, 0) failed with erro

[2015-11-12 09:44] schnabelnator commented on #32
here is my complete devicesyslog http://pastebin.com/xjwa2pbe
the kjc_jb.log http://pastebin.com/MYtFLe2G
and the mobilereplayer crashlog http://pastebin.com/cWmf0G1N

hope that helps!

[2015-11-14 14:47] ddaddy opened #35 "Error. Exiting"
I try to run the script but it doesn't seem to get very far.
iPhone 5s

Thanks

[code]

[2015-11-15 09:20] qfdk commented on #35
Reboot your device and have a try

[2015-11-27 15:00] datatwo opened #36 "What is supposed to happen after tapping "Jailbreak""
I prepared my bootstrap.tgz with Cydia and openssh, removed patcyh files, and fixed the zcat error using gzcat instead, since OSX doesn't seem to like zcat

Trying this on an iPhone 5 (so, 32 bit), I get this on the syslog, and the black screen goes back to SpringBoard. The syslog messages make me think the jailbreak script is not succeeding, but I'll let the experts give me any hints ?

Thanks

[

[2015-11-28 14:24] kot2002 commented on #36
[code]

iPhone 6.

I get these.
It seems that files in the bootstrap.tar was extracted on the root, but I cannot get ssh connection even if I run 'idevicediagnostics restart' .

I prepared bootstrap.tar with Cydia-8.4r3-Raw + OpenSSH + OpenSSL with /sbin/reboot edited.

[2015-11-29 07:16] qfdk commented on #36
i think your  jb should work . if you use the zcat i don'tthink it will be extract in root but in /a/*

[2015-11-29 07:19] kot2002 commented on #36
@qfdk I made bootstrap.tar without removing Cydia.app and cydia app appeared on springboard.
So, it should have been extracted in root.

By the way, my iPhone had been bricked so I had to upgrade mine to 9.1.
Goodbye yalu :(

[2015-11-29 07:31] qfdk commented on #36
@kot2002 I am so sorry to hear that, by the way ,can your share your **bootstrap.tar** ?
You can ask @kpwn , Congratulation any way :+1:
So i have a list, the people who gets a log with 5-6 RET

[code]

[2015-11-29 10:53] mstg commented on #36
If you don't remove the patched installd from the bootstrap the device will get bricked.

[2015-11-29 12:06] qfdk commented on #36
@mstg I retry to do that but it doest work en iPhone 5S

[code]

[2015-11-30 01:03] kpwn commented on #36
@kot2002's log seems correct. to start ssh you need to swap /sbin/reboot (remember to +x the file!) with a file that loads the OpenSSH launchdeamon .plist.
You should be able to use launchctl for it since it was still present in 8.4.1.

[2015-11-30 01:04] kpwn commented on #36
@qfdk that logs means failure. i have no clue why that'd be the case since that part of the exploit always had >50% reliability in my tests.
Just double checking: are you mounting the DDI after each panic? The codesign bypass needs the DDI's TrustCache to be loaded in AMFI to successfully execute.

[2015-11-30 01:05] kpwn commented on #36
A tip for debugging: idevicesyslog tells you a lot about issues such as non-working SSH.
As always; remember to remove patcyh and do not under any circumstance run Cydia.

Also to clear the whole zcat mess up: that was supposed to be a `gzcat`; my mistake.

Remember code signatures have been bypassed (and dyldmagic has run) when you get this output:

[code]

Kernel exploit success implies a bunch

[2015-11-30 09:23] qfdk commented on #36
yes, each time i use my script `fetchsymbols_armv7` , the first thing is that `mount_ddi` :)
 Sometime `fetchsymbols_armv7` works sometime `fetchsymbols_arm64` works, i have no idea :X
I can get `Nov 29 10:58:16 iPhone SpringBoard[50] <Warning>: Forcing crash report of <FBApplicationProcess: 0x12d5f4e80; MobileReplayer; pid: 162> (reason: 1, description: developer.apple.wwdc-Release failed to laun

[2015-12-01 08:48] kpwn commented on #36
I believe there may be a specific per-device offset involved, and that's the cause of the issue.
I believe a kernel dump for your device is needed. There's some commented out code for that in dyldmagic.

[2015-12-02 11:25] datatwo commented on #36
if Cydia can't be touched, what is the point of putting it in the bootstrap tar ? how can we get a Cydia version that works ?

Thanks for all the help

[2015-12-02 11:30] qfdk commented on #36
@kpwn  If you have some free time could you help me to do that things?

[2015-12-04 18:49] ericcastro commented on #36
can anyone please upload some working bootstrap.tar / tgz please?

[2015-12-08 07:53] JJGadgets commented on #33
@danfeng what do you mean?

[2015-12-10 09:53] russspooner commented on #32
@kpwn Is there any way you could make the Cydia bootstrap tar available again, Im struggling to find a copy of it so I can make the SSH bootstrap? Or could someone post a link to a working one?

[2015-12-10 10:19] russspooner commented on #36
@ericcastro did you manage to get hold of a bootstrap? I am looking for one as well :-/

[2015-12-10 19:41] ericcastro commented on #36
nope as i haven't gotten a response.

@qfdk and @kpwn would you mind providing us a working bootstrap tar ?

I can't figure out what is wrong from the logs I get so the only thing I can think of is that my bootstrap tar isn't properly formed despite having carefully read every single detail in each of your comments...

[2015-12-12 21:57] qfdk commented on #36
@ericcastro Je ne suis pas sur si mon bootstrap marche... Normalement ça doit marcher, car le code Yalu a un bug sur 5S je ne peux pas le tester.
Si tu veux le tester le vais le partager alors.
=)
Bonne chance

[2015-12-13 23:59] kamh1 commented on #36
Hello, so I've gone through the whole process and the only place it seems to be going wrong is here:

zcat: can't stat: ./data/bootstrap.tgz (./data/bootstrap.tgz.Z): No such file or directory
Uploaded 0 bytes to PhotoData/KimJongCracks/bootstrap.tar

When tapping Jailbreak the first time I got a blue screen, the second time a black one.
Do you know where I go from here? And please give me as many

[2015-12-14 14:53] ericcastro commented on #36
merci qfdk je vais essayer, mais est-ce que t'as réussi à le faire marcher sur quelque device ?

moi j'ai un iphone 5

[2015-12-14 15:12] ericcastro commented on #36
nope, it doesn't work. after tapping "Jailbreak" I get this black screen for a few seconds, and I get this in the syslog:

[code]

which doesn't look good to me, but as I cannot be sure whether this is normal or not, I will still run a "idevidediagnostics restart", and once phone reboots, I try connecting via SSH and it won't work.

to whoever made this jailbreak, it needs tons of work. success ra

[2015-12-14 15:23] qfdk commented on #36
voir ton log d'abord , kot2002 a réussi à 6 mais son bootstrap n'est pas bon , si le code ne passe pas le fichier  bootstrap sera rien:/

[2015-12-19 05:00] Asynix opened #38 "Did anyone manage to get SSH working?"
BRITTA ROLL UP [no its not pythech!]
[i] iomasterport: 0x0000070b / gasgauge user client: 0x0000050b
jk++
ret: 236d5000
ret: 00000000
found overlapping object
found overlapped object
ret: ffffff80
ret: 0128c000
ret: ffffff80
ret: 1bc61780
ret: 00000000
ret: 18c00000
ret: ffffff80
ret: 1ac02000

This is what I manage to get, I'm using qfdk's bootstrap and have followed all instructions to the point

[2015-12-19 23:41] kpwn commented on #38
That looks correct. It should work. Care to do a "idevicesyslog"?

2015-12-19 6:00 GMT+01:00 Asynix notifications@github.com:

[2015-12-20 01:55] Asynix commented on #38
Sure, but when is the best time to run idevicesyslog? Should I rerun the entire thing or is there a quicker method? I don't mind if I have to restore, I have a second device on iOS 8.4.1.

Maybe the bootstrap is the issue? I tried this with my own bootstrap but it didn't work either so I used qfdk's.

Also can you elaborate how OpenSSH starts with idevicediagnosticsrestart?

#!/bin/sh
launchctl lo

[2015-12-20 23:25] kpwn commented on #38
Just do it while doing a idevicediagnostics restart.

idea is idevicediagnostics restart runs /sbin/reboot as uid=0, which kickstarts sshd.

[2015-12-21 03:29] Asynix commented on #38
Okay, I'll do it when I can. Is there a specific part of the log that you'd like me to post? Or would you just want the whole thing?

Thanks once again

[2015-12-21 23:15] n-m-b opened #39 "dyldmagic_64 problems"
alright so near the end of the program i get a lot of errors and I don't know if i downloaded it wrong or something, but here they are:
dyldmagic_64.m:38:9: warning: 'LC_SEGMENT' macro redefined [-Wmacro-redefined]
#define LC_SEGMENT              LC_SEGMENT_64
        ^
/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/include/mach-o/loader.h:2

[2015-12-22 23:02] mstg commented on #39
If I'm not mistaken, this is a known issue with armv7 chipsets.

[2015-12-24 20:19] Asynix commented on #39
@mstg armv7s too right? I recall @kpwn saying it works as far as arm64 goes.

Strange but on my iPhone 5S I receive that message too but not my iPhone 6...

[2015-12-24 21:07] kpwn commented on #39
I don't see any error. As per log,

`Generated exploit dylib`

[2015-12-24 23:02] nmbarker commented on #39
@kpwn thats not the error I copied the terminal window for too long.

[2015-12-27 00:41] mstg commented on #39
@n-m-b Try doing everything from the start.

[2015-12-27 15:31] nmbarker commented on #39
The device I'm using is an iPad Air.

[2015-12-30 18:29] nmbarker commented on #39
@kpwn how do i contact you directly so that i can ask the developer questions

[2016-01-05 15:59] qfdk commented on #38
you can try to write a script in reboot
for example
echo "test success" >>/media/coucou
just make sure that reboot is called ... or try to find the com.openssh.\* exists

[2016-01-18 03:25] yun0ji commented on #5
Fixed the problem ?

[2016-01-19 07:20] yun0ji commented on #5
Does the issue fixed already ?

[2016-01-19 09:51] matteyeux commented on #5
No

[2016-01-21 09:20] salmon111 commented on #32
@kpwn @qfdk Can I still get the Cydia-8.4r3-Ra？

[2016-01-21 09:21] salmon111 commented on #32
@kpwn @qfdk  Can I still get the Cydia-8.4r3-Raw？

[2016-01-28 09:06] yun0ji opened #40 "Does anyone succeed jailbreak armv7 machine(iphone 4s, ipad2, etc) by yalu ?"
I tried my iPad 2, but yalubreak did not succeed.

$ afcclient deviceinfo
Illegal instruction: 4

I did self build some binary(error occured), but assertion failed occured on ./main execution (source is data/dyldmagic/main.m).

Tap on Jailbreak icon, but didn't kernel panic occured.

kjc_jb.log is 0 byte.

any idea?

[2016-01-28 09:32] yun0ji commented on #40
Machine is MBP 13" late 2009
Mac OS is 10.10.5 and Xcode 7.1.1
or
Mac OS is 10.11.3 and Xcode 7.2

[2016-02-05 06:15] windowsair opened #41 "Can't connect to com.apple.dt.fetchsymbols service"
When I mount did,it shows that I can't connect to com.apple.dt.fetchsymbols services,so it can't mount ddi.
What should I do?

[2016-02-05 06:16] windowsair commented on #41
@qfdk

[2016-02-05 09:33] windowsair commented on #41
Ok,I have find a solution.Appear this kind of circumstance is likely to be the Xcode version is too low

[2016-02-05 09:33] #41 closed

[2016-02-20 16:24] stek29 commented on #36
@ericcastro @russspooner Did you find ANY working bootstrap.tgz?

[2016-02-20 16:30] stek29 commented on #22
@2quignot @ThatSomething Where can you found any bootstrap.tar? I'm new to jailbreak and iOS at all, so I just can't understand what it's structure is like :(

[2016-02-20 16:34] stek29 commented on #16
@kpwn Can you at least show it's structure or give me any resources for reading? I'm stuck, can't find anything :(

[2016-02-20 23:07] mstg commented on #16
@stek29 you can literally put the contents of OpenSSH deb and the jb will untar it in `/`

[2016-02-21 09:44] stek29 commented on #16
@mstg thx, i understood already)
Now i have another problem, but it's not related to this one

[2016-02-26 14:13] ericcastro commented on #36
nope. I gave up on this a while ago since nobody seems to be able to provide a confirmed-working bootstrap.tgz and for the ones I try I have very little understanding on the problem

[2016-03-09 04:14] #28 closed

[2016-03-09 17:36] stek29 commented on #36
@ericcastro i made one but can't test -- jailbreak just crashes kernel, does'n "0wn" it

[2016-04-04 13:40] ericcastro commented on #5
has this issue been solved ?

[2016-04-04 14:15] matteyeux commented on #5
Nope Yalu's development has halted due to constant harassement :(

[2016-05-12 10:31] Gilgamash099 commented on #21
my zip didnt include "stage0.sh"

[2016-05-20 18:18] leo98gomez commented on #32
@Andir00t @schnabelnator @kpwn could I get step by step instructions, and maybe links to the files I have to download , and changes that have to be done to,the code before running Yalu.  Thank you

[2016-06-12 16:09] Izib opened #43 "cannot find an available link of Cydia-8.4r3-Raw.txz"
I'm trying yalu code to jb my iphone6.
Compressed bootstarp.tgz with OpenSSH&OpenSSL and it looks like the jb code works.(got 6+ ret)
![image](https://cloud.githubusercontent.com/assets/2154257/15992205/293e24b6-30fa-11e6-9ceb-2ac2d559f673.png)

But all links of  Cydia-8.4r3-Raw.txz is not available now.
Could you plz share the Cydia-8.4r3-Raw.txz on somewhere?

[2016-06-12 16:16] kpwn commented on #43
Hey, that looks good. But remember to remove patcyh and don’t attempt to untether.

[2016-06-12 16:23] Izib commented on #43
@kpwn Thanx.
Can you share the Cydia-8.4r3-Raw.txz file to me?

[2016-06-21 12:58] Izib commented on #43
I find the way to fix this. close issue

[2016-06-21 12:58] #43 closed

[2016-06-21 14:17] Izib opened #44 "some steps don't work in the jb progress. Maybe extracting bootstarp.tar dones't really work?"
First of all, I read all issues in yalu thead. i'm 90% sure I did exactly what it needs to do.

1. Edit sbin/reboot and chmod +x. The iOS 8.4.1 has launchctl, so i didn't put it in bootstrap(Of cuz, I tried to add launchctl in bootstrap). tar bootstrap with openssl & openssh, put it in yalu/data as bootstrap.tgz
(I think the Cydia is not necessary. Actually, I guess the jb program doesn't touch ex

[2016-06-25 16:08] in7egral commented on #44
Hi lzib!

I see you have passed untether stage - "alive?!". So, could you please write here your iPhone/iPad model?

About your question 2:
You can't compile untether without sources of patchfinder_64.c (it's my name of this file, I reverse-engineered it), but it's private (owner is the Pangu team). Another problem is defines for IOKit - xnuexp.h. It's easy to restore. Just locate structures and p

[2016-06-25 16:18] Izib commented on #44
Thank you for your comment.
Model is iphone 6(A1586)

What does the "alive?!" mean?  do you have the "yalu" work on you device?

[2016-06-25 17:23] in7egral commented on #44
No, I rewrote the dyldmagic app (cause it's hardcoded for the iPhone 6 (I beleive) kernel offsets to by-pass codesign). So, it generates a stable version of magic.dylib w/o a GasGauge exploit (user level codesign by-pass with csbypass method). But I can't get untether working on my iOS 8.4.1 runned on iPhone 5s 64Gb. The untether crashes at stage of kernel dumping. The "Doing a full kernel dump no

[2016-06-25 17:25] kpwn commented on #44
The ROP-ified version of the exploit is unstable, with a pretty low success rate. On the other hand, the untether itself was in my experience pretty reliable.

[2016-06-25 17:40] in7egral commented on #44
@kpwn you mean stable on iPhone 6, or you tested 5/5s also?

[2016-06-25 17:41] kpwn commented on #44
I only tested on an iPhone 6. I've never really had a 5s 8.4.1 until very recently, and since dyldmagic won't work on it I have no way to test. (except fixing it but I have no time for it right now)

[2016-06-25 18:03] Izib commented on #44
@progopis  I know "Alive?!" means patch working on the code-side. if it really works, why it doesn't extracting my file. As my post mentioned, I add var/mobile/Media/izib_jb.log to test if it untar the file. I was thinking there's some thing wrong on my device and the code doesn't print any exception log. That's why I wanna recompile the untether.

You question:
I changed the "run.sh", the new "ru

[2016-06-25 18:11] Izib commented on #44
@progopis  BTW: I tried decompiling the patchfinder_64 from untether(I estimate that needs too much time). I chose to patch the untether bin to add logs. That makes it very unstable, I haven't got one success "alive?!" in my tests. I was stucked... I might have to RE the patchfinder_64 file.

[2016-06-25 18:12] kpwn commented on #44
If I remember correctly, untether has full symbols. You may link against those, but it requires patching the untether mach-o.

[2016-06-26 21:40] in7egral commented on #44
@Izib could you check please last version on iPhone 6?

[2016-06-27 07:18] Izib commented on #44
@progopis  8.4.1(12H321)

[2016-06-27 13:41] in7egral commented on #44
@Izib, thanks but I mean last version of yalu after last commit.

[2016-06-27 16:22] Izib commented on #44
I am working on commit 9a682f393f41b912333add22f5af9d5d7464ca17

[code]

I also tried the commit 5668b58d061ee2e3261aa57139090dc68c0fdafd (That's merged from you)

[code]

and then I cannot reach "Alive?!".  Always crashed after "Kernel dumped".

[code]

[2016-06-27 18:11] kpwn commented on #44
Nice, it looks like the loader works and the untether too, to a certain extent.

So, I can probably find the time to write up a new, better untether. I guess.

[2016-06-27 21:47] in7egral commented on #44
@Izib For me, too. I also have a crash after "Kernel dumped.". We have a new kernel dumper, more stable, and it can reach even "Doing a full kernel dump now..", "Done!". I beleive the problem with untether that we were forced to make it 32 bit and/or killed `fork()`. We can not load 64 bit binaries with current loader (due to AMFI was not patched in the kernel and loader is 32 bit itself). So, I s

[2016-06-27 21:51] kpwn commented on #44
The heap overflow used by Yalu is pretty easy as heap overflow. I can recompile the untether for armv7.

[2016-06-28 20:05] Izib commented on #44
I patched untether and make it work now. (After reboot hundred times, my device is unstable and only 1/5 chance to patch successfully)
Meanwhile something is broken, I cannnot use "idevicediagnostics restart" on my device :(

[code]

This error is not the problem of yalu code any more, I will close this issue.
thanx @progopis  @kpwn

[2016-06-28 20:06] #44 closed

[2016-07-15 19:00] EvilSeabass opened #46 "Creating a Bootstrap"
Im not sure how to create a bootstrap, kpwn said that the following commands create one:

`cd /tmp`
`sudo su`

`mkdir bootstrap`
`cd bootstrap`
`tar xf`
`find . | grep patcyh | while read x; do rm $x; touch $x; done`
`dpkg-deb -e`
`dpkg-deb -e`
`> sbin/reboot`
`nano sbin/reboot`
`-- Enter this:`
`#!/bin/sh`
`launchctl load /Library/LaunchDaemons/com.openssh.sshd.plist`
`exit 0`
`-- Exit from nano

[2016-07-15 19:43] EvilSeabass commented on #46
if someone could please just upload their bootstrap with patcyh already removed and everything is ready to go that would be amazing

[2016-07-15 23:14] EvilSeabass commented on #36
Hey,

I dont mean to be a free loader but i have no idea how to build a bootstrap. Would you mind uploading it and sending it to me? If not its cool.

Thanks

[2016-07-15 23:35] EvilSeabass commented on #46
Or just walk me through with a tutorial. This would be even better this way i could understand this sort of thing in the future

[2016-07-20 05:07] EvilSeabass opened #47 "Need the download for cydia, openssh, and openssl gzip tar's"
Hello,
I need to create a bootstrap for Yalu.
Could someone please upload one that works and has patcyh removed and is ready to go or give me the links for where I can find cydia, openssh, and OpenSSL for iOS 8.4.1? I'm running an iPod 5 running iOS 8.4.1

[2016-07-20 05:08] EvilSeabass commented on #47
@kpwn

[2016-07-20 05:08] EvilSeabass commented on #46
@kpwn

[2016-07-27 16:21] EvilSeabass commented on #47
nvm got it

[2016-07-27 16:21] #47 closed

[2016-07-27 16:21] EvilSeabass commented on #46
nvm got it

[2016-07-27 16:21] #46 closed

[2016-08-14 19:46] stek29 commented on #36
bootstrap file will be untared to root. So you just need to extract 'payload' from debs you want to install
I'd suggest getting openssh only.

[2016-10-29 15:17] ChongkiAir opened #54 "There seems to be no executive compilation step"
Compiling jailbreak files...
Extracting /System/Library/Frameworks/IOKit.framework/Versions/A/IOKit at 0x296f000 into cache.IOKit
Extracting /System/Library/Frameworks/IOKit.framework/IOKit at 0x296f000 into cache.IOKit
Extracting /usr/lib/system/libsystem_kernel.dylib at 0x1050a000 into cache.libsystem_kernel.dylib
fatal error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xc

[2017-01-25 09:03] anonfantom opened #56 "iPad 2 stuck at "* Waiting for device...""
@kpwn Please tell me how can i fix this issue with my iPad 2 with iOS 8.4.1
My MacOS version is 10.12.3 and the last public Xcode version
so is there any help
? ? ?

[2017-01-26 13:20] victor1342 commented on #56
maybe you need to use sudo? try: `sudo sh ./run.sh`

[2017-01-29 05:14] abuhassan-dev commented on #56
@victor1342 i think its not supported did you try it ?

[2017-01-29 16:20] NicholasLAranda commented on #56
@anonfantom THIS IS NOT A SUPPORT PAGE FOR iOS 8.X JAILBREAKS!!!

Go to https://www.Reddit.com/r/JailBreak if you need assistance.

Please close this.

[2017-01-31 04:20] DarknesGaming commented on #56
Here's my question: Why are you on iOS 8.4.1? It's so old (and easier to hack into).
@RypeDub420 this was never a support page in the first place. Mind the caps. xD

[2017-02-19 02:04] stevezaluk commented on #47
Where did you find it? I would like to kno :)

[2017-02-21 23:00] Teuns commented on #56
@darknesgaming easier to hack into? What? There are none public jb's for it except this one, which is even incomplete.

[2017-02-26 03:23] KpwnZ opened #57 "Blue Screen and reboot then app crash"
Feb 26 10:56:07 Pennyde-iPhone amfistop64[861] <Warning>: [INF:FAE] looking for adjacent elements...

Feb 26 10:56:07 Pennyde-iPhone SpringBoard[121] <Warning>: LICreateIconForImage passed NULL CGImageRef image

Feb 26 10:56:07 Pennyde-iPhone amfistop64[861] <Warning>: [ERR:FAE] inappropriate heap structure: 1369 -> 1369 | [ 04994C00 != 00000003 ]

Feb 26 10:56:07 Pennyde-iPhone amfistop64[861] <W

[2017-03-25 00:44] mscreative opened #58 "Error"
Please help. i dont stand this is...

Recreating temp directory...
Creating dirs on device
run.sh: line 52:  4671 Illegal instruction: 4  ./bin/afcclient mkdir PhotoData/KimJongCracks
run.sh: line 52:  4673 Illegal instruction: 4  ./bin/afcclient mkdir PhotoData/KimJongCracks/a
run.sh: line 52:  4674 Illegal instruction: 4  ./bin/afcclient mkdir PhotoData/KimJongCracks/a/a
run.sh: line 52:  4675 I

[2017-04-15 14:15] khang06 commented on #58
what

[2017-05-13 13:47] mscreative opened #61 "wtf?"
start Jailbreak and it turns out in my syslog :(

May 13 16:46:51 iPhone-Admin amfistop64[152] <Warning>: [INF:FAE] looking for adjacent elements...
May 13 16:46:51 iPhone-Admin SpringBoard[43] <Warning>: LICreateIconForImage passed NULL CGImageRef image
May 13 16:46:51 iPhone-Admin locationd[64] <Notice>: Gesture EnabledForTopCLient: 0, EnabledInDaemonSettings: 0
May 13 16:46:51 iPhone-Admin amfi

[2017-06-29 16:53] eob2000 commented on #56
if you didn't fix it already I had the same issue with my iPhone 4s. `sudo chmod -R 777 /var/db/lockdown/`fixed it for me

[2017-07-05 11:33] #56 closed

[2017-07-05 11:35] anonfantom opened #62 "Cydia icon didn't appear and No ssh after many tap on jailbreak icon and reboots its ipad 2"
is there any way to fix this and jailbreak my ipad 2 with ios 8.4.1 ?

[2017-07-29 21:04] EPiCxRIOTZZ commented on #62
the reason why it says INCOMPLETE!!! is because  its an INCOMPLETE jailbreak

[2017-07-29 21:05] EPiCxRIOTZZ commented on #61
yeah because its an incomplete jailbreak...

[2017-08-19 04:52] jezza23 opened #63 "Multiple Errors, Fails with File not found, creating new file"
Jeremy-Irvines-Macbook-Air:yalu jezzairves$ sudo ./run.sh
 DISABLE FIND MY PHONE
* Waiting for device...
* Recreating temp directory...
* Creating dirs on device
Created directory: PhotoData/KimJongCracks
Created directory: PhotoData/KimJongCracks/a
Created directory: PhotoData/KimJongCracks/a/a
Created directory: PhotoData/KimJongCracks/Library
Created directory: PhotoData/KimJongCracks/Library/P

[2017-08-19 13:29] Shmadul commented on #21
Just wait, it may take a long time

[2018-01-15 04:19] nstuj opened #64 "* Waiting for device..."
stuck at * Waiting for device... on a iPhone5,2

[2019-04-13 00:57] dsfsdsfss commented on #64
run it as root so "sudo ./run.sh"

[2019-04-13 01:03] hlmoore opened #65 "Compile errors"
`ld: warning: The i386 architecture is deprecated for macOS (remove from the Xcode build setting: ARCHS)
ld: warning: ignoring file /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk/usr/lib/libSystem.tbd, missing required architecture i386 in file /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk/us